<div [@routerTransition]>
    <app-page-header [heading]="'Ajouter Agence '" [icon]="'fa-desktop'"></app-page-header>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="row">
        <div class="col-lg-12">
            
            
            
            <div class="card mb-8">
                
                <div class="card-body table-responsive">
                   
                       
                            <form role="form">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <fieldset class="form-group">
                                            <label>Compagnie/Agence</label>
                                            <input class="form-control" placeholder="Enter Agence" />
                                        </fieldset>
                                </div>
                                </div>
                            
                                <div class="row">
                                    <div class="col-lg-3">
                                <button _ngcontent-dti-c113="" type="submit" class="btn btn-primary ng-tns-c113-0">Enregistrer </button>
                            </div>
                                <div class="col-lg-3">
                                <button _ngcontent-dti-c113="" type="reset" class="btn btn-danger ng-tns-c113-0">Annuler</button>
                                </div>
                            </div>
                                
                            </form>
                        </div>